<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>__PROJECT__</string>
    <key>CFBundleExecutable</key>
    <string>__EXEC__</string>
    <key>CFBundleIconFile</key>
    <string>__ICON__</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>__VERSION__</string>
    <key>CFBundleSignature</key>
    <string>????</string>
  </dict>
</plist>

